{% block department %}


    <div class="dropdown" style="text-align: center;">
    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Doctor Category
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="/doctor_cat/Cardiologist">Cardiologist</a>
        <a class="dropdown-item" href="/doctor_cat/Dermatologists">Dermatologists</a>
        <a class="dropdown-item" href="/doctor_cat/Emergency Medicine Specialists">Emergency Medicine Specialists</a>
        <a class="dropdown-item" href="/doctor_cat/Allergists/Immunologists">Allergists/Immunologists</a>
        <a class="dropdown-item" href="/doctor_cat/Anesthesiologists">Anesthesiologists</a>
        <a class="dropdown-item" href="/doctor_cat/Colon and Rectal Surgeons">Colon and Rectal Surgeons</a>
        
    </div>
    </div>
{% endblock department %}